// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------

// ------------- Primary ----------------
$berry: #f38181;
// ------------ Secondary ---------------
$grape: #625772;
$blue: #79accd;
$sky: #a9eee6;
// ------------ Background --------------
$pale: #fefaec;
$white: #ffffff;
