// --------- FXNALITY ---------
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.community {
  border: 0.125rem solid $blue;
  border-radius: 0.5rem;
  box-sizing: border-box;

  &__wrap {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__image {
    // placeholder
    // background image
    // background: (url);
    // background-position: center;
    height: 8rem;
    box-sizing: border-box;
    background-color: $white;
  }

  &__text {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $berry;
  }

  &__title {
    color: $pale;
  }
}
