// --------- FXNALITY ---------
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

footer {
  padding: 2rem 1rem;
  height: 12rem;
  background-color: $berry;
  color: $pale;

  &__our-team {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__teammate {
    background-color: aqua; // not working
  }

  //   &__links-wrap {
  //   }

  //   &__link {
  //   }

  //   &__links {
  //   }
}
