<<<<<<< HEAD
@use "./styles/partials/variables" as *;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    background-color: $pale;
}
=======
>>>>>>> 4b563d4adb3af3276cc06df4eaf4132ec9eb730f
