// --------- FXNALITY ---------
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  padding: 3rem 1rem;
  background-color: $pale;
  box-sizing: border-box;
  text-decoration: none;
}
