// --------- FXNALITY ---------
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login {
  margin: 2rem;
  padding: 2rem 1rem;
  background-color: $pale;
  border-radius: 0 3.125rem 0 3.125rem;
  border: 0.25rem solid $berry;
  box-sizing: border-box;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    border: 0.125rem solid $sky;
    border-radius: 0.5rem;
  }

  //   &__button {
  // global button styling instead?
  //   }
}
