// --------- FXNALITY ---------
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.community-cards {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    width: 23.5%;
  }
}
